{% extends "layout.htm" %}
{% block content %}
  <div class="account-section">
    <h1 class="mt-4 text-center bg-dark text-white p-5">{{ current_user.user_name }}</h1>
    <div class="career-box p-2 mb-4">
      <h5>Personality Type  -   <span class="text-success">{{ current_user.personality_type }}</span></h5>
      <p class="mb-3">Careers recommendation on the basis of your personality type is given below  'click' them and know more :</p>
        <div class="container mb-4">
          <div class="row d-flex flex-row justify-content-center">
            {% for career in predicted_career %}
            <div class="col-xl-3 col-lg-5 col-md-10 m-1">
                <a href="{{ url_for('career', title=career) }}" class="btn btn-secondary w-100 border-bottom text-light">{{ career }}</a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
    
{% endblock content %}
