{% extends "layout.htm" %}
{% block content %}
  <div class="account-section">
    <h1 class="mt-4 text-center bg-dark text-white p-5 sticky">{{ current_user.user_name }}</h1>
    <div class="career-box p-2 mb-3">
      <h5>Personality Type  -   <span class="text-success">{{ current_user.personality_type }}</span></h5>
      <p class="">Careers recommendation on the basis of your personality type is given below  'click' them and know more :</p>
      <div class="bg-secondary border border-light mb-5">
        {% for career in predicted_career %}
          <a href="{{ url_for('career', title=career) }}" class="btn w-100 border-bottom text-light rounded-0 p-3">{{ career }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
    
{% endblock content %}
