{% extends "layout.htm" %}
{% block content %}

<div class="">
  <!-- carousel section -->
  <!-- <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item c-item active">
            <img src="https://img.freepik.com/free-photo/young-woman-teacher-wearing-glasses-standing-near-blackboard-classroom-explaining-lesson-showing-thumb-up-smiling-confident_141793-133239.jpg" class="d-block w-100 c-img" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <p class="c-head">TEACHER</p>
            </div>
          </div>
          <div class="carousel-item c-item">
            <img src="https://img.freepik.com/free-photo/portrait-smiling-young-doctors-standing-together-portrait-medical-staff-inside-modern-hospital-smiling-camera_657921-885.jpg" class="d-block w-100 c-img" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <p class="c-head">DOCTOR</p>
            </div>
          </div>
          <div class="carousel-item c-item">
            <img src="https://img.freepik.com/free-photo/people-office-analyzing-checking-finance-graphs_23-2150377148.jpg" class="d-block w-100 c-img" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <p class="c-head">ACCOUNTANT</p>
            </div>
          </div>
          <div class="carousel-item c-item">
            <img src="https://img.freepik.com/free-photo/handsome-business-man-engineer-hard-hat-building_1303-21147.jpg" class="d-block w-100 c-img" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <p class="c-head">ARCHITECTS</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div> -->


    <div class="banner-bg-section d-flex flex-column justify-content-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-section pt-2">
                <h1 class="main-head text-center pt-2">Welcome To <br><span class="">Career Crafter</span></h1>
                <p class="text-center main-p">
                  Welcome to the exciting world of personality types and career guidance! At Career Crafter, we explore human personality using the Myers-Briggs Type Indicator (MBTI). This well-known tool sorts people into 16 personality types, each with its own special traits.Our platform is designed to provide personalized insights into potential career paths that best suit your personality type.we go the extra mile by offering comprehensive information on institutions, courses, eligibility exams, and other relevant details for each recommended career path.
                  Empower yourself with the knowledge of your personality type and unlock the doors to a future brimming with possibilities. Let Career Crafter be your trusted guide on the path to professional success and personal fulfillment. Start your journey today and discover the career that's tailor-made for you!
                </p>
            </div>
            <div class="text-center">
              <a href="{{ url_for('predict') }}" class="btn btn-dark main-btn">Test Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="description-section pt-3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="main-head">Description</h1>
            <p class="main-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus sunt in, asperiores nam nisi molestias culpa dolores, sed, deleniti voluptas architecto sint voluptates aperiam incidunt consectetur nobis officiis eveniet minus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam molestias aspernatur autem reiciendis dignissimos. Repellat rerum ducimus dicta, aperiam, illo quibusdam soluta praesentium tenetur nemo consectetur necessitatibus ullam voluptatibus! Quaerat.</p>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/premium-vector/mbti-person-types-concept-socionics-mbti-personality-test-flat-vector-illustration_529344-1617.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Dreamer</h5>
                <p class="card-text">INFPs are imaginative idealists, guided by their own core values and beliefs. To a Healer, possibilities are paramount; the reality of the moment is only of passing concern. They see potential for a better future, and pursue truth and meaning with their own flair.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/premium-vector/mbti-person-types-concept-socionics-mbti-personality-test-flat-vector-illustration_529344-1616.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Confidant</h5> 
                <p class="card-text">INFJs are creative nurturers with a strong sense of personal integrity and a drive to help others realize their potential. Creative and dedicated, they have a talent for helping others with original solutions to their personal challenges.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/premium-vector/mbti-person-types-concept-socionics-mbti-personality-test-flat-vector-illustration_529344-1612.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Engineer</h5>
                <p class="card-text">INTPs are philosophical innovators, fascinated by logical analysis, systems, and design. They are preoccupied with theory, and search for the universal law behind everything they see. They want to understand the unifying themes of life, in all their complexity.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/premium-vector/mbti-person-types-concept-socionics-mbti-personality-test-flat-vector-illustration_529344-1528.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Strategist</h5>
                <p class="card-text">INTJs are analytical problem-solvers, eager to improve systems and processes with their innovative ideas. They have a talent for seeing possibilities for improvement, whether at work, at home, or in themselves.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/premium-vector/mbti-person-types-concept-socionics-mbti-personality-test-campaigner-character-flat-vector-illustration_529344-1502.jpg" class="card-img-top" alt="...">
              <div class="card-body"> 
                <h5 class="card-title">Advocate</h5>
                <p class="card-text">ENFPs are people-centered creators with a focus on possibilities and a contagious enthusiasm for new ideas, people and activities. Energetic, warm, and passionate, ENFPs love to help other people explore their creative potential.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/premium-vector/enfj-mbti-personality-type-isometric-composition-with-protagonist-female-character-science-symbols-vector-illustration_98292-8976.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mentor</h5>
                <p class="card-text">ENFJs are idealist organizers, driven to implement their vision of what is best for humanity. They often act as catalysts for human growth because of their ability to see potential in other people and their charisma in persuading others to their ideas.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/free-vector/isometric-entp-mbti-type-composition-with-creative-female-character-fixing-robot-3d-vector-illustration_98292-9105.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Originator</h5> 
                <p class="card-text">ENTPs are inspired innovators, motivated to find new solutions to intellectually challenging problems. They are curious and clever, and seek to comprehend the people, systems, and principles that surround them.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/premium-vector/mbti-socionics-concept-analysts-character-entj-art_503161-350.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Chief</h5> 
                <p class="card-text">ENTJs are strategic leaders, motivated to organize change. They are quick to see inefficiency and conceptualize new solutions, and enjoy developing long-range plans to accomplish their vision. They excel at logical reasoning and are usually articulate and quick-witted.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/premium-vector/mbti-person-types-concept-socionics-mbti-personality-test-flat-vector-illustration_529344-1512.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Artist</h5>
                <p class="card-text">ISFPs are gentle caretakers who live in the present moment and enjoy their surroundings with cheerful, low-key enthusiasm. They are flexible and spontaneous, and like to go with the flow to enjoy what life has to offer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/premium-vector/mbti-person-types-concept-socionics-mbti-personality-test-flat-vector-illustration_529344-1510.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Defender</h5>
                <p class="card-text">ISFJs are industrious caretakers, loyal to traditions and organizations. They are practical, compassionate, and caring, and are motivated to provide for others and protect them from the perils of life</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/premium-vector/mbti-person-types-concept-socionics-mbti-personality-test-flat-vector-illustration_529344-1607.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Craftsman</h5> 
                <p class="card-text">ISTPs are observant artisans with an understanding of mechanics and an interest in troubleshooting. They approach their environments with a flexible logic, looking for practical solutions to the problems at hand.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/premium-vector/mbti-person-types-concept-socionics-mbti-personality-test-flat-vector-illustration_529344-1520.jpg?w=740" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Examiner</h5> 
                <p class="card-text">ISTJs are responsible organizers, driven to create and enforce order within systems and institutions. They are neat and orderly, inside and out, and tend to have a procedure for everything they do.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/premium-vector/mbti-person-types-concept-socionics-mbti-personality-test-flat-vector-illustration_529344-1526.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Entertainer</h5>
                <p class="card-text">ESFPs are vivacious entertainers who charm and engage those around them. They are spontaneous, energetic, and fun-loving, and take pleasure in the things around them: food, clothes, nature, animals, and especially people.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/premium-vector/mbti-person-types-concept-socionics-mbti-personality-test-flat-vector-illustration_529344-1516.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Supporter</h5>
                <p class="card-text">ESFJs are conscientious helpers, sensitive to the needs of others and energetically dedicated to their responsibilities. They are highly attuned to their emotional environment and attentive to both the feelings of others and the perception others have of them.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/free-vector/estp-mbti-personality-type-isometric-composition-with-female-character-doing-pottery-3d-vector-illustration_98292-8809.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Persuader</h5> 
                <p class="card-text">ESTPs are energetic thrillseekers who are at their best when putting out fires, whether literal or metaphorical. They bring a sense of dynamic energy to their interactions with others and the world around them.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://img.freepik.com/premium-vector/mbti-person-types-concept-socionics-mbti-personality-test-flat-vector-illustration_529344-1605.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Overseer</h5>
                <p class="card-text">ESTJs are hardworking traditionalists, eager to take charge in organizing projects and people. Orderly, rule-abiding, and conscientious, ESTJs like to get things done, and tend to go about projects in a systematic, methodical way.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="about-section pt-3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="main-head">About</h1>
            <p class="main-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis mollitia cupiditate expedita, enim harum, vitae earum dolor ipsa repellendus laborum, deleniti explicabo optio illo neque unde voluptates. Obcaecati, cupiditate consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia iusto nostrum, eligendi sapiente accusamus explicabo eos commodi inventore optio laborum qui! Ipsam maiores assumenda optio eius eos? Natus, necessitatibus fuga? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio vero sunt laudantium reprehenderit nesciunt eaque dolorem, quo magnam obcaecati. Facilis eius eum, repellendus aliquid distinctio molestiae est at odit ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis maxime iusto officiis exercitationem possimus aliquam, omnis nam sed dicta et illo beatae praesentium minima, perspiciatis ab. Id dolorem quos nisi!</p>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

