{% extends "layout.htm" %}
{% block content %}
<div class="sign-section d-flex flex-row justify-content-center">
<div class="sign-box d-flex flex-column justify-content-center">
    <div class="shadow-lg mt-5 rounded-4 bg-secondary d-flex flex-md-row">
        <form method="POST" action="" class="sign-form p-3 text-white">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="mb-4 text-center">Reset Password</legend>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label mb-2") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mt-2">
                    {{ form.confirm_password.label(class="form-control-label mb-2") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group text-center">
                {{ form.submit(class="btn btn-dark mt-3") }}
            </div>
        </form>
    </div>
</div>
</div>
{% endblock content %}