<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Career Options</title>
</head>
<body>
    <h1>Personality Career Options</h1>
    
    <!-- Personality Assessment Form -->
    <form id="personalityForm">
    
        <label for="personalityType">Choose your personality type:</label>
        <input type="text" id ="personalityType" value="{{ predicted_personality_type }}" />
        <button type="submit">Submit</button>
    </form>

    <!-- Career Options Container -->
    <div id="careerOptions"></div>


    <!-- Script to Handle Form Submission -->
    <script>
        const personalityForm = document.getElementById('personalityForm');
        const careerOptionsContainer = document.getElementById('careerOptions');

        personalityForm.addEventListener('submit', function(event) {
            event.preventDefault();
            const personalityType = document.getElementById('personalityType').value;
            showCareerOptions(personalityType);
        });

        function showCareerOptions(personalityType) {
            // Clear previous options
            careerOptionsContainer.innerHTML = '';

            // Display career options based on personality type
            if (personalityType === 'ESTJ') {
                displayESTJCareerOptions();
            } else if (personalityType === 'ESFJ') {
                displayESFJCareerOptions();
            }else if (personalityType === 'ISTJ') {
                displayISTJCareerOptions();
            }else if (personalityType === 'ISFJ') {
                displayISFJCareerOptions();
            }else if (personalityType === 'ESTP') {
                displayESTPCareerOptions();
            }else if (personalityType === 'ESFP') {
                displayESFPCareerOptions();
            }else if (personalityType === 'ISTP') {
                displayISTPCareerOptions();
            } else if (personalityType === 'ISFP') {
                displayISFPCareerOptions();
            } else if (personalityType === 'ENTJ') {
                displayENTJCareerOptions();
            } else if (personalityType === 'ENTP') {
                displayENTPCareerOptions();
            } else if (personalityType === 'INTJ') {
                displayINTJCareerOptions();
            } else if (personalityType === 'INTP') {
                displayINTPCareerOptions();
            }  else if (personalityType === 'ENFJ') {
                displayENFJCareerOptions();
            }  else if (personalityType === 'ENFP') {
                displayENFPCareerOptions();
            }  else if (personalityType === 'INFJ') {
                displayINFJCareerOptions();
            }  else if (personalityType === 'INFP') {
                displayINFPCareerOptions();
            }  else if (personalityType === '') {
                displayISTJCareerOptions();
            }

            // Add more conditions for other personality types
        }

        function displayESTJCareerOptions() {
            const ESTJCareers = [
                {
                    name: 'ACCOUNTANT',
                    courses:'BTech/Bsc Computer Science ,Information technology', 
                    institutionsgovt:'Cochin University of Science and Technology-kochi,IIST,kerala university-Thiruvanthapuram',
                    institutionsnongovt:'Rajagiri Business school-kochi,amity university online-nodia,ICSI Delhi',
                    entranceexam:'CPA,ACCA,CIMA,CUET',
                },
                {
                    name: 'COMPUTER PROGRAMMER',
                    courses:'bachelor degree in commerce,accounting,business and finance',
                    institutionsgovt:'IIT Madras-chennai,GECSKP-sreekrishnapuram,CET-TVM',
                    institutionsnongovt:'parul University-vadodara,School of Engineering and Technology-gurgaon,Amity University-nodia',
                    entranceexam:'GATE,KEAM,CUET,JEE-main,JEE-Advacned',
                },
                {
                    name: 'DOCTOR',
                    courses: 'MBBS,BDS,BAMS,BHMS', 
                    institutionsgovt:'AIIMS Delhi,AIIMS-jodhpur,Maulana Azad Medical college-university of delhi',
                    institutionsnongovt:'Chirstian Medical college-vellore,Padmashree Dr DY Patil Vidypeeth-navi mumbai,Maharishi Markandeshwar University-mullana',
                    entranceexam:'NEET UG',
                },
                {
                    name: 'LAWYER',
                    courses:'LLB,Integrated LLB,LLM',
                    institutionsgovt:'Guru Gobind Singh Indaraprastha university,National Law university-jodhapur,National law odisha',
                    institutionsnongovt:'Amity university-gurugram,Amity university-nodia,chirst college-bangalore',
                    entranceexam:'SLS AIAT,CLAT,LAST,AILET',
                },
                
                {
                    name: 'SCIENTIST',
                    courses: 'Bsc.physical science,applied science,chemistry,mathematics,economics,biology,arriculture,horitculture,animation,etc ',
                    institutionsgovt:'Banaras Hindu University-varnasi,Jamia Millia Islamia-delhi,Delhi University-delhi',
                    institutionsnongovt:'Amity University-noida,VIT-vellore,Manipal Academy of Higher Education-manipal',
                    entranceexam:'UGC NET,CSIR-USIR NET,NCBS JGEEBILS,DBT JRF',
                },
                ];

displayCareers(ESTJCareers);
}
                function displayESFJCareerOptions() {
                 const ESFJCareers = [
                
                {
                    name: 'ADMINISTRATOR',
                    courses: 'Bachelor degree in any stream like computer science,physics,chemistry..etc',
                    institutionsgovt:'Banaras Hindu University-varanasi,Delhi University-delhi,Jadavpur University-kolkata,',
                    institutionsnongovt:'Administrative Management college-Bangalore,VIT- Vellore,Manipal Academy Of Higher Education',
                    entranceexam:'PUBDET,JNUEE',
                },
                
               {
                    name: 'HUMAN RESOURCES',
                    courses: 'Bachelor degree in business administration,human resources',
                    institutionsgovt:'IIMS-BangaloreXavier Labour Relation Institute Jamshedpur-jamshedpur,Tata of Management Studies-delhi',
                    institutionsnongovt:'Symbiosis Institute of Business Management-pune,Management Development Institute-Gurgaon,Institute of Management Technology-Ghaziabad',
                    entranceexam:'CAT,SNAP,XAT',
                },
                
                {
                    name: 'TEACHER',
                    courses: 'B.Ed,M.Ed,D.Ed,B.EL.Ed',
                    institutionsgovt:'National Counicil of Education Research and Training-india,State Concil of Education Research and Training -Uttarpradesh',
                    institutionsnongovt:'Jamia Millia lslamia-new delhi,Amity University-nodia,manipal University-Karnataka',
                    entranceexam:'TET,CTET,STET',
                },
                
                {
                    name: 'NURSE',
                    courses: 'Bsc Nursing or Diploma',
                    institutionsgovt:'AIIMS-delhi,Rajasthan University of Health Sciences-Rajasthan,PHIMER-changdigarh',
                    institutionsnongovt:'Lokmanya Tilak Municipal Medical College-mumbai,Apollo College of Nursing-delhi,Christian Medical College-vellore',
                    entranceexam:'ALLMS,PGIMER,RUHS',
                },
                
                {
                    name: 'RESEARCHER',
                    courses: 'Master of Philosophy or Doctor of philosophy in their respective fields like science,chemistry,physics',
                    institutionsgovt:'india Institute of Technology-delhi,AIIMS-Delhi,Delhi University',
                    institutionsnongovt:'VIT-vellore,Manipal Academy of Higher Eucation-manipal',
                    entranceexam:'NEET,JEE-Main,SAT,ACT',
                }
            
                // Add more career options as needed
            ];

            displayCareers(ESFJCareers);
        }

        function displayISTJCareerOptions() {
            const ISTJCareers = [
               
                {
                    name:'COMPUTER SPECIALIST',
                    courses: 'BTech/B.sc/BCA/MCA/PGDCA.computer science,information technology,computer application',
                    institutionsgovt:'Indaian Institute of Technolgy-Bombay,Goverment Engineering College Sreekrishnapuram,College of Engineering-TVM',
                    institutionsnongovt:'Vellore Institute of Technology-vellore,Manipal Institute of Technology-manipal,Birla Institute of Technology-jharkhand',
                    entranceexam:'JEE-main,KEAM,MH CET,CUET,JEE-Advaced',
                },
 
                {
                    name:'DETECTIVE',
                    courses:'Bachelor degree of forensic,criminal justice & law',
                    institutionsgovt:'National Forensic Science University-delhi,National crime Records Bureau-new delhi',        
                    institutionsnongovt:'Amity University-noida,Symbiosis Institute of  Science-',
                    entranceexam:'JEE,CAT,MAT,NEET,CLAT,NFSU',
                },
                
  {
                    name:'FINANCIAL OFFICER',
                    courses:'Bachelor degree in finance,law business,accounting or economics',
                    institutionsgovt:'IIT-Bombay,madras,AIIMS-delhi,NLUs-delhi',
                    institutionsnongovt:'Manipal Academy of Higher Education-manipal,vellore Institute of Technology-vellore,Chirst University-bangalore',
                    entranceexam:'JEE-main,NEET,CLAT,GATE',
                },

                {
                    name: 'POLICE',
                    courses: 'Bchelor degree in criminal justice or law enforcement',
                    institutionsgovt:'Tata Institute of Social sciences(TISS),National Law University-delhi,University of Delhi ',
                    institutionsnongovt:'D D Goverdhan Doss Vaishnav college-chennai,Karunya Institute of Technology and science-combatore,Mewar University-rajasthan',
                    entranceexam:'CUET,IGNOU,AAT,BHU UET',
                },

                {
                    name: 'SYSTEM ANALYST',
                    courses: 'Bachelor degree in information technology-system,computer science,mathaematics,statistics or economics',
                    institutionsgovt:'Arrya Nadar Janaki Ammal College-tamil Nadu,Atma Ram Sanatan Dharma College-new delhi,College of Applied Science-kerala',
                    institutionsnongovt:'AD Patel Institute of Technology-gujarat,Bangalore city College-bangalore,Bonnie Foi College-bhopal',
                    entranceexam:'GATE,CUET,KEAM',
                },
                
               {
                    name: 'DENIST',
                    courses: 'BDS(Bachelor of Dental Surgery)',
                    institutionsgovt:'Government Dental College and Hospital-mumbai,Mulana Azad Institute of Dental Science-new delhi,Government Dental College and Reserach-bangalore',
                    institutionsnongovt:'Manipal College Dental Science-manipal,SRM Dental College-chennai,Christian Dental College-punjab',
                    entranceexam:'NEET,NTA',
                },


                
                // Add more career options as needed
            ];

            displayCareers(ISTJCareers);

        }
    
        function displayISFJCareerOptions() {
            const ISFJCareers = [
        {
                    name: 'ECONOMIST',
                    courses: 'Bsc/M.A/M.Sc economics,mathematics,statistics',
                    institutionsgovt:'Delhi School of Economics-new delhi,Jawaharlal Nehru University-new delhi,Indian Statistical Institute-kolkata',
                    institutionsnongovt:'IIMA-ahmedabad-gujarat,IIT-bombay,Tata institute of Social Sciences-mumbai',
                    entranceexam:'JAM,GATE,DUET,JNU',
                },

            
  {
                    name: 'BUSINESS ANALYST',
                    courses: 'Bachelor degree in business,administration,finance,economics,computer science',
                    institutionsgovt:'Indian Institute of management -delhi,IITs,Xavier school of Management',
                    institutionsnongovt:'Xavier school of Management,Indaian school of Business,Symbosis Centre for management and Human Resources Development-',
                    entranceexam:'CAT,GMAT,XAT',
                },
                
  {
                    name: 'ENTREPRENUR',
                    courses: 'Bachelor degree in business administration,enterpreneurship,economics',
                    institutionsgovt:'IITs,IIMs,NITs',
                    institutionsnongovt:'Symbiosis Institute of Business management-jamshedpur,SP jain Institute of Management and Research-mumbaiEDII-Ammedabad',
                    entranceexam:'SNAP,GMAT,CAT',
                },

                {
                    name: 'DESIGNER',
                    courses: 'BTech/B.Des/BFA/M.Des in design and fine arts',
                    institutionsgovt:'IITs,NID,NIFT',
                    institutionsnongovt:'National Institute of Fashion Technology-kannur,Srishiti Institute of Art Design and Technology-bengaluru, Pearl Academy-delhi,MIT-manipal',
                    entranceexam:'NIFT,DAT,UCEED,SEAT,DAT,',
                },

                {
                    name: 'BANKER',
                    courses: 'Bachelor degree in economics,accounting,computer application,administration',
                    institutionsgovt:'College of Agricultural Banking-pune,college of malappuram,NSS college-nemara',
                    institutionsnongovt:'Chandigarh University-chandigarh,S.P.jain Institute of Management-mumbai,FORE school of Management-delhi',
                    entranceexam:'MAT,XAT,CAT',
                },
                
                {
                    name: 'MILITARY',
                    courses: 'bachelor degree in criminal justice,political science,psychology,theology',
                    institutionsgovt:'College of Malappuram,NSS College -nemara,victory college-palakkad',
                    institutionsnongovt:'Chirst University-bangalore,Sharda University-nodia,Lovely Professional University-phagwara',
                    entranceexam:'CUET',
                }



            ];
            displayCareers(ISFJCareers);
        }
        function displayESTPCareerOptions() {
            const ESTPCareers = [

            {
                    name: 'ENGINEER',
                    courses: 'BTech/Mtech in computer science,information technology,civi,electrical',
                    institutionsgovt:'Gecskp,College of Engineering-TVM,RIT-kottayam',
                    institutionsnongovt:'nehru college-palakkad,chirst university-bangalore,Rajagiri college-Tvm',
                    entranceexam:'KEAM,CUET,GATE',
                },

                {
                    name: 'PARAMEDIC',
                    courses: 'Bsc.Nursing/Medical Laboratoray Technology,Dipolma in Optometry,Dipolma in Dialysis Technology,',
                    institutionsgovt:'Kerala University of Health Science-thrissur,Government medical college -TVM',
                    institutionsnongovt:'Amritha school of Allied Health science-kochi,EMS College of paramedical Science-malappuram',
                    entranceexam:'NEET,SAAT,AIIMS UG/PG,ITM NEST',
                },

                {
                    name: 'NETWORK SPECIALIST',
                    courses: 'cyber security,information Technology,CCNA',
                    institutionsgovt:'Mahendra Institute of Technology-namakkal,NELIT kolkata national Institute-kolkata',
                    institutionsnongovt:'Netcom-japur,KCC college christian kodaikanal-kodaikkal,',
                    entranceexam:'GATE,CUET',
                },

                {
                    name: 'FIRE FIGHER',
                    courses: 'fire safey & engineering diploma,industrial safety dipolma,fire & hazard prevention dipolma',
                    institutionsgovt:'National Academy of Fire And Safety Engineering-nagpur,National Institute of Fire Engineering-vishapatnam',
                    institutionsnongovt:'Safety Engineers  Association-chennai,Cochin Institute of Science-kochi',
                    entranceexam:'CUET,IFENAT',
                },

                {
                    name: 'PROJECT MANAGER',
                    courses:'bachelor degree in business administration,management,engineering,computer science',
                    institutionsgovt:'Gecskp,CET-TVM,IIT-bombay,IIT-madras',
                    institutionsnongovt:'Amity University-noida,chirst University-bangalore,RIT-kottayam',
                    entranceexam:'GATE,KEAM,CUET',
                },
                {
                    name: 'SALES',
                    courses:'Bachelor degree in business administration,marketing,communication',
                    institutionsgovt:'IIT-madras,IIT-n=bombay,NIT-kozhikode',
                    institutionsnongovt:'Amity University-noida,Chirst University-bangalore,Rajagiri institution of managementTVM',
                    entranceexam:'CUET,CAT',
                }
            ];
            displayCareers(ESTPCareers);
        }

        function displayESFPCareerOptions() {
            const ESFPCareers = [
            {
                    name: 'ACTOR',
                    courses: 'Bachelor degree in drama,theater arts,performing arts',
                    institutionsgovt:'National school of Drama-new delhi',
                    institutionsnongovt:'Film and Television Institute of india-pune,Barry John Acting Studio-mumbai,Roshan Taneja school of Acting-mumbai',
                    entranceexam:'CAT,CUET',
                },
                {
                    name: 'FAASHION DESIGNER',
                    courses: 'BFTech/BDes in fashion design',
                    institutionsgovt:'NIFT-bangalore,NIFT-chennai,NIFT-hyderabad',
                    institutionsnongovt:'Amity University-nodia,IIAD-delhi,pearl Academy-jaipur',
                    entranceexam:'NIFT,UCEED,CEED,NID',
                },
                {
                    name: 'SOCIAL WORKER',
                    courses:'Bachelor degree in social work,sociology,psychology or human services',
                    institutionsgovt:'Kerala university,college of Malappuram,calicutt Universty-kozhikode',
                    institutionsnongovt:'Amity University-nodia,Chirst University,Pearl Academy-jaipur',
                    entranceexam:'CAT,CUET',
                },
                {
                    name: 'INTERIOR DECORATION',
                    courses: 'B.Des in Furniture and interior Design',
                    institutionsgovt:'NID-ahmedabad,NIFT-mumbai/delhi/bengaluru',
                    institutionsnongovt:'Arch Academy of Design -jaipur,Pearl Academy-delhi/jaipur,Rachna Sansad School of Design',
                    entranceexam:'DAT,CAT,',
                }
            ];
            displayCareers(ESFPCareers);
        }

        function displayISTPCareerOptions() {
            const ISTPCareers = [

            {
                    name: 'ATHLETE',
                    courses: 'Master of Pyscical Education,Msc Sports Coaching,PG Dipolma sports Medicine,Master of Sports Management',
                    institutionsgovt:'IIM Bangaore,IIM Rohtak,Cental University of Haryana',
                    institutionsnongovt:'CMS Business School ,jain-to-be-Deemed University-bangalore,LPU ',
                    entranceexam:'CAT,NMAT,XAT,MAT',
                },
                {
                    name: 'FORENSIC PATHOLOGIST',
                    courses: 'Bsc in Forensic science, forensic pathology,forensic toxicology',
                    institutionsgovt:'JIPMER-puducherry,Madras Medical college-madras,MUHS',
                    institutionsnongovt:'Kasturaba Medical college -manipal,Jaipur National University,JSS Medical college',
                    entranceexam:'NEET PG,INI CET',
                },
                {
                    name: 'PILOT',
                    courses: 'Bsc Aviation or MBA Aviation Management',
                    institutionsgovt:'Government Flying Traning School,',
                    institutionsnongovt:'Indira Gandhi Rashtiya Uran Akademi-delhi,Adventure Fight Education Private-bangalore',
                    entranceexam:'AME CET,AFCAT,IGRUA,SSAT',
                },
                {
                    name: 'SALES REPRESENTATIVE',
                    courses: 'A marketing bachelors degree prorgram,master of business administration or even master science management and leadership',
                    institutionsgovt:'IIM-ahmedabad,IIM-bangalore,IIM-calcutta,IIT-delhi',
                    institutionsnongovt:'xLRL School of Management-jamshedpur,Symboiosis Institute of Business Management-pune,Amity university-noida',
                    entranceexam:'SET,CUET,CAT,ATMA,SNAP,IPMAT',
                },
                {
                    name: 'CONSTRUCTION WORKER',
                    courses: 'Bachelor degree in Civil Engineering ,Architecture,BIM ,AutoCAD,Interior Design',
                    institutionsgovt:'Gecskp,CET-TVM,IIT-mumbai,IIT-Calcutta',
                    institutionsnongovt:'Amity University-noida,Anurag University-hyderabad,Gagotias University-noida',
                    entranceexam:'CUET,CAT,KEAM,GATE',
                },
            ];
            displayCareers(ISTPCareers);
        }
        function displayISFPCareerOptions() {
            const ISFPCareers = [
            {
                    name: 'CHEF',
                    courses: 'B.sc.in Catering  Science and Hotel Mangement,BA in Culinary Arts,B.sc.in Hodpitality And Hotel Management',
                    institutionsgovt:'Dr.Ambedkar Institute of Hotel Management Catering And Nurtrition ,IHM-chennai,IHM-kovalam,Institute of Hotel Management catering Technology & applied Nurtrition-Kotkata',
                    institutionsnongovt:'Chandigarh University-Chandigarh,SRM Institute of Hotel Management-Chennai,IHM-aurangabad',
                    entranceexam:'UGAT,MAH HM CET,NCHMC JEE',
                },
                {
                    name: 'COMPOSER',
                    courses: 'Dipolma in Music Production,BA in Music,Bachelor of Fine Arts in Music,Bachelor of Performing Arts,Dipolma in Carnatic Music',
                    institutionsgovt:'Delhi University,Banaras Hindu University,MSU-vadodara',
                    institutionsnongovt:'Parul University-vododara,Amity University-noida,Christ University-bangalore',
                    entranceexam:'CUET,CAT,WBCHSE',
                },
                {
                    name: 'Artist',
                    courses: 'Bachelor degree in Graphic Design,Business,Digital Arts,Theater Arts,Fashion Design',
                    institutionsgovt:'College of Arts,Delhi University-delhi,Sir JJ School of Art -mumbai,Government College of Art and Craft-Calcutta',
                    institutionsnongovt:'Christian college -chennai,Hans Raj College-new delhi,St.Xavier college-kolkata',
                    entranceexam:'CUET,PUBDET,URATPG,NSD',
                },
                {
                    name: 'FOREST RANGER',
                    courses: 'Bachelor degree in Veterinary Science,Agriculture,Zoology,Botany,Geology,Chemistry,physics',
                    institutionsgovt:'Odisha University of Agriculture & Technolgy-bhuban,Tripura University-tripura,Mizoram University',
                    institutionsnongovt:'Amity University,North Eastern Hill University-shillong,Jawaharlal university-delhi',
                    entranceexam:'ICAR,IAEEA,CUET',
                },
                {
                    name: 'VETERNARIAN',
                    courses: 'Bachelor  of Veterinary Science,MVSC',
                    institutionsgovt:'Odisha University of Agriculute & technology-odisha,Visva Bharathi University,NM  College of Agriculture,Navasari Agricultural University',
                    institutionsnongovt:'Sun Rise University,Abhilashi University,Apex University',
                    entranceexam:'CG PAT,NEET,ICAR AIEEA',
                }
            ];
            displayCareers(ISFPCareers);
        }
        
        function displayENTJCareerOptions() {
            const ENTJCareers = [


            {
                    name: 'BUSINESS ADMINISTRATOR',
                    courses: 'Bachelor degree in Business Administration,Management,Finance,Accounting',
                    institutionsgovt:'IIM-calcutta,IIFT-kolkata,IMI-kolkata',
                    institutionsnongovt:'Loyola College-tamil nadu,Amity University-noida,Chirst University-bangalore ',
                    entranceexam:'CAT,MAT,XAT,CMAT,NMAT by GMAC',
                },
                {
                    name: 'COMPUTER CONSULTANT',
                    courses: 'BTech/B.Sc in computer Science,Information Technology,cyber Sercurity',
                    institutionsgovt:'Gecskp,CET-TVM,IIT-bombay,IIT-madras',
                    institutionsnongovt:'Amity University-noida,Christ University-bangalore,Loyola college-tamil nadu',
                    entranceexam:'KEAM,CAT,CUET,GATE',
                },
                {
                    name: 'CORPORATE EXEECUTIVE OFFICER',
                    courses: 'bachelor degree in finance,Accounting,Strategic Management,Business Administration',
                    institutionsgovt:'FacUlty Of Management Studies-University of delhi,IIT-bombay-delhi,IIMs-delhi',
                    institutionsnongovt:'Amity University-noida,IESE Business School,Mar Ivanoius College-TVM',
                    entranceexam:'MAT,SNAP,CAT,CUET',
                },
                
                {
                    name:'JUDGE',
                    courses: '5-Year LLB or 3-year LLB',
                    institutionsgovt:'Government law College-ernakulam,Government law College-thrissur,Government Law College-combatore',
                    institutionsnongovt:'Christ University-bangalore,Bharata Matha Law College-aluva,Sree Narayana Law College-poothotta',
                    entranceexam:'CLAT,AILET,LSAT',
                },
                {
                    name: 'POLTICIAN',
                    courses: 'Bachelor Degree in political Science,Economics,Business Administration,criminal Justice',
                    institutionsgovt:'NSS college-neamara,Hindu University of Delhi-delhi,Jawharal Nehru University-delhi',
                    institutionsnongovt:'St.Xavier College -mumbai,Amity University-noida,Christ University-bangalore',
                    entranceexam:'CUET,CAT,SLAT,GATE',
                }
            ];
            displayCareers(ENTJCareers);
        }
        function displayENTPCareerOptions() {
            const ENTPCareers = [

            {
                    name: 'DESIGNER',
                    courses: 'BTech/B.Des/BFA/M.Des in design and fine arts',
                    institutionsgovt:'IITs,NID,NIFT',
                    institutionsnongovt:'National Institute of Fashion Technology-kannur,Srishiti Institute of Art Design and Technology-bengaluru, Pearl Academy-delhi,MIT-manipal',
                    entranceexam:'NIFT,DAT,UCEED,SEAT,DAT,',
                },


                {
                    name: 'PSYCHIATRIST',
                    courses: 'Bachelor Degree in pychaiatric,Dipolma in Psychiatric Medicine,Dipolma in Psychiatric Nursing',
                    institutionsgovt:'AIIMS Delhi,PGIMER-chandigarh,NIMHANS-Bangalore,AIIMS-jodhpur',
                    institutionsnongovt:'Christian Medical College-vellore,Kasturaba Medical college -manipal',
                    entranceexam:'NEET,JIPMER,AIIMS,SUAT,AP EAMCET',
                },


                {
                    name: 'WRITER',
                    courses: 'Bachelor Degree in English,Malayalam,Hindi,tamil',
                    institutionsgovt:'NSS College-palakkad,Kerala University-TVM,Victoria college-palakkad',
                    institutionsnongovt:'Amity University-noida,Christ University-bangalore,loyola college-tamil nadu',
                    entranceexam:'CAT,CUET',
                },


                {
                    name: 'CONSULTANT',
                    courses: 'Bachelor degree in Business,finance,Economics,Dipolma in Business Administration',
                    institutionsgovt:'NSS College-palakkad,Sree narayana College-palakkad,Kerala University-TVM',
                    institutionsnongovt:'Amity University-noida,Christ University-bangalore,St.Xavier College -mumbai',
                    entranceexam:'CUET,CAT',
                },
                {
                    name: 'PHOTOGRAPHER',
                    courses: 'BA in Visual Arts And Photography,MA Commerical Photograph And Cinematography,Dipolma in Photography',
                    institutionsgovt:'College of Fine Arts-Hyderbad,NIFT-Delhi,Lucknow University-Lucknow,Kashmir University-kashmir',
                    institutionsnongovt:'Amity School of Commmunication-noida,Delhi School of Photograhy-delhi,Guru Nanak University-hyderabad',
                    entranceexam:'PUBDET,CUET,URATPG,NSD',
                }

            ];
            displayCareers(ENTPCareers);
        }
        
        function displayINTJCareerOptions() {
            const INTJCareers = [
               {
                    name: 'TEACHER',
                    courses: 'B.Ed,M.Ed,D.Ed,B.EL.Ed',
                    institutionsgovt:'National Counicil of Education Research and Training-india,State Concil of Education Research and Training -Uttarpradesh',
                    institutionsnongovt:'Jamia Millia lslamia-new delhi,Amity University-nodia,manipal University-Karnataka',
                    entranceexam:'TET,CTET,STET',
                },
                {
                    name: 'ENTREPRENUR',
                    courses: 'Bachelor degree in business administration,enterpreneurship,economics',
                    institutionsgovt:'IITs,IIMs,NITs',
                    institutionsnongovt:'Symbiosis Institute of Business management-jamshedpur,SP jain Institute of Management and Research-mumbaiEDII-Ammedabad',
                    entranceexam:'SNAP,GMAT,CAT',
                },
                {
                    name: 'POLTICIAN',
                    courses: 'Bachelor Degree in political Science,Economics,Business Administration,criminal Justice',
                    institutionsgovt:'NSS college-neamara,Hindu University of Delhi-delhi,Jawharal Nehru University-delhi',
                    institutionsnongovt:'St.Xavier College -mumbai,Amity University-noida,Christ University-bangalore',
                    entranceexam:'CUET,CAT,SLAT,GATE',
                },
                {
                    name:'MANAGER',
                    courses: 'bachelor/Master degree in Business Administration,marketing Management,Risk management,Dipolma Event Management',
                    institutionsgovt:'Cochin University of Science and Technology,IMU Kochi-kochi,IIM kozhikode-kochi ',
                    institutionsnongovt:'Rajagiri Business School-kochi,Amity University online-kochi,SCMS-kochi',
                    entranceexam:'CMAT,CAT,CUET',
                },

               {
                  name: 'SYSTEM ANALYST',
                    courses: 'Bachelor degree in information technology-system,computer science,mathaematics,statistics or economics',
                    institutionsgovt:'Arrya Nadar Janaki Ammal College-tamil Nadu,Atma Ram Sanatan Dharma College-new delhi,College of Applied Science-kerala',
                    institutionsnongovt:'AD Patel Institute of Technology-gujarat,Bangalore city College-bangalore,Bonnie Foi College-bhopal',
                    entranceexam:'GATE,CUET,KEAM',
                },
            ];
            displayCareers(INTJCareers);
        }

        function displayINTPCareerOptions() {
            const INTPCareers = [

            {
                    name: 'ARCHAEOLOGIST',
                    courses: 'BA in Ancient Indian History and Archelogy,BA in Archaeology And Museology,BA in Ancient Indian Culture,MA in Museology',
                    institutionsgovt:'BHU-varanasi,University of Mysore-mysore,Kerala University-TVM',
                    institutionsnongovt:'St.Xavier college -mumbai,Delhi Institute of Heritage Research And Management-delhi,Shri Krishna University-chattarpur',
                    entranceexam:'CUET,JMI,JNUEE,PUB DET',
                },
                {
                    name: 'ARCHITECT',
                    courses: 'B.Arch/M.Arch,Dipolma in Architecture',
                    institutionsgovt:'NIT-Calicut,SPA-delhi,IIT-roorkee',
                    institutionsnongovt:'VIT-vellore,Chandigarh College of Architecture-chandigarh,Birla Institute Of Technology-Mesra',
                    entranceexam:'CUET,NATA,JEE Main,AAT,MHT CHT B.Arch',
                },
                {
                    name: 'PHILOSOPHER',
                    courses: 'Bachelor Degree in Indian Philosophy,History of Western Philosophy,Philosophy of Language',
                    institutionsgovt:'Delhi University-delhi,Jawaharal nehru University-delhi,University Mumbai-mumbai',
                    institutionsnongovt:'Manipal Academy of Higher Education,jai Hind College-mumbai,Christ University',
                    entranceexam:'CUET,CUET PG,CAT',
                },
                {
                    name: 'INTERPRETOR',
                    courses: 'Diploma in Translation and Interpretation,Bachelor Of Arts In Translation And Interpretation,Master Of Arts In Translation And Interpretation',
                    institutionsgovt:'JS University,BHU-varanasi,SDT Wowens University-maharashtra',
                    institutionsnongovt:'DAV College chandigarh-chandigarh,St.Xaviers College-mumbai,',
                    entranceexam:'IPU-CET,AMU-EE,JMI-EE,DU-JAT',
                }
            ];
            displayCareers(INTPCareers);
        }
        function displayENFJCareerOptions() {
            const ENFJCareers = [

            {
                    name: 'CARRER COUNSELOR',
                    courses: 'Bchelor Degree in Communication,Human resources,Psychology or Business  Degree',
                    institutionsgovt:'IIM- Ahmedabad,XLRI- jamshedpur,NIMS- Mumbai',
                    institutionsnongovt:'Amity University-noida ,Christ University-bangalore,St.Xaviers College-mumbai',
                    entranceexam:'GATE,CUET,CAT',
                },
                {
                    name: 'SOCIAL WORKER',
                    courses:'Bachelor degree in social work,sociology,psychology or human services',
                    institutionsgovt:'Kerala university,college of Malappuram,calicutt Universty-kozhikode',
                    institutionsnongovt:'Amity University-nodia,Chirst University,Pearl Academy-jaipur',
                    entranceexam:'CAT,CUET',
                },

                {
                    name: 'DIPLOMAT',
                    courses: 'Bachelor/Master Degree in Political Science,Cultural Anthropology,sociology,foregin policy',
                    institutionsgovt:'Kerala University-TVM,Calcutta University-calcutta,Panjab University',
                    institutionsnongovt:'Amity University-noida,Christy University',
                    entranceexam:'CAT,CUET,JMI,SAT',
                },


                {
                    name: 'AUDITOR',
                    courses: 'Bachelor Degree in commerce,accounting,Finance',
                    institutionsgovt:'University of madras-madras,Mohalal Sukhadia University-udaipur',
                    institutionsnongovt:'Presidency college-bangalore ,Institute of Distance Education-chennai,Reva University-pune',
                    entranceexam:'CAT,CUET,CUET-PG,CMAT',
                },
                {
                    name: 'ENGINEER',
                    courses: 'BTech/Mtech in computer science,information technology,civi,electrical',
                    institutionsgovt:'Gecskp,College of Engineering-TVM,RIT-kottayam',
                    institutionsnongovt:'nehru college-palakkad,chirst university-bangalore,Rajagiri college-Tvm',
                    entranceexam:'KEAM,CUET,GATE',
                },
            ];
            displayCareers(ENFJCareers);
        }

        function displayENFPCareerOptions() {
            const ENFPCareers = [

            {
                    name: 'ART DIRECTOR',
                    courses: 'Bachelor degree in Visual Arts,Master Degree in Visual Arts,BSc in Graphic Design,BA in Fine Arts',
                    institutionsgovt:'College of Arts,Delhi University-delhi,Sir JJ School of Art -mumbai,Government College of Art and Craft-Calcutta',
                    institutionsnongovt:'Christian college -chennai,Hans Raj College-new delhi,St.Xavier college-kolkata',
                    entranceexam:'NID,UCEED,CEED,MITID DAT,CUET,CAT',
                },
                {
                    name: 'ECONOMIST',
                    courses: 'B.A Economics,Bahelor Degree in Accounting,BSc.Economics Sciences',
                    institutionsgovt:'Kerala University,Nss college-palakkadd,Sree Narayana College-palakkad',
                    institutionsnongovt:'Miranda House,Hindu collge -Delhi,Loyola College-tamil nadu',
                    entranceexam:'UGC NET,PUBDET,CUET',
                },

                {
                    name: 'JOURNALIST',
                    courses: 'Bacchelor of Journalism and Mass Communication,Master of Journalism and Mass Communication',
                    institutionsgovt:'IIMC-delhi,SPPU-pune,AJK Mass Communication Research Centre-delhi',
                    institutionsnongovt:'Christ University-bangalore,Chandigarh University-chandigarh,Galgotias University-noida',
                    entranceexam:'IIMC,JMI,DUET,CAT,CUET',
                },
                {
                    name: 'SOCIAL SCIENTIST',
                    courses: 'Bachelor Degree in Sociology,Psychology,antropology,Political Science,economic',
                    institutionsgovt:'NSS college-Palakkad,Sree Narayana College-palakkad,Kerala University-TVM',
                    institutionsnongovt:'Loyola College-tamil nadu,Amity University-noida,Christ University-bangalore',
                    entranceexam:'CAT,CUET,SAT',
                },
                {
                    name: 'NUTRITIONIST',
                    courses: 'Bachelor in Nuutrition,fitness and Helath,Bachelor of Food Technology,Degree in Human NUtrition and Dieletics',
                    institutionsgovt:'jamia Hamdard-delhi,JIPMER-pondicherry ,ILBS-delhi',
                    institutionsnongovt:'Amity University-noida,LPU-jalandhar,Christian Medical College-vellore',
                    entranceexam:'CUET,NEET,CAT',
                },
            ];
            displayCareers(ENFPCareers);
        }

        function displayINFJCareerOptions() {
            const INFJCareers = [
            {
                    name: 'EDUCATIONAL CONSULANT',
                    courses: 'Bangelor Degree in Business and Economics/BTech  in Information Technology,Computer Science',
                    institutionsgovt:'Gecskp-sreekrishnapuram,NSS engineering College -palakkad,CET-TVM',
                    institutionsnongovt:'Amity University-noida,Christ University-bangalore,loyola College-tamil nadu',
                    entranceexam:'CUET,CAT',
                },


                {
                    name: 'ENTREPRENUR',
                    courses: 'Bachelor degree in business administration,enterpreneurship,economics',
                    institutionsgovt:'IITs,IIMs,NITs',
                    institutionsnongovt:'Symbiosis Institute of Business management-jamshedpur,SP jain Institute of Management and Research-mumbaiEDII-Ammedabad',
                    entranceexam:'SNAP,GMAT,CAT',
                },

                {
                    name: 'DOCTOR',
                    courses: 'MBBS,BDS,BAMS,BHMS',
                    institutionsgovt:'Government Medical College-TVM,Government Medical College-kozhikode,Governmenr medical college-thrissur',
                    institutionsnongovt:'SRI-Cnennai,Kasturba Medical College -manipal,Christian medical college-ludhiana',
                    entranceexam:'NEET,AIPMT',
                },



                {
                    name: 'CHILD DEVELOPMENT',
                    courses: 'Bachelor in Child & Youth Studies,Child Development,BA in child Development',
                    institutionsgovt:'Jamia Millia Islamia-delhi,IGNOU-delhi,MSU-vadodara',
                    institutionsnongovt:'SIES-mumbai,Radha Govind University-Ramgarh,Mahatma Jyothi Rao Phoole University-jaipur',
                    entranceexam:'CUET-PG,JMI,CAT',
                },

                {
                    name: 'TEACHER',
                    courses: 'B.Ed,M.Ed,D.Ed,B.EL.Ed',
                    institutionsgovt:'National Counicil of Education Research and Training-india,State Concil of Education Research and Training -Uttarpradesh',
                    institutionsnongovt:'Jamia Millia lslamia-new delhi,Amity University-nodia,manipal University-Karnataka',
                    entranceexam:'TET,CTET,STET',
                }
            ];
            displayCareers(INFJCareers);
        }

        function displayINFPCareerOptions() {
            const INFPCareers = [

             {
                    name: 'ARCHITECT',
                    courses: 'B.Arch/M.Arch,Dipolma in Architecture',
                    institutionsgovt:'NIT-Calicut,SPA-delhi,IIT-roorkee',
                    institutionsnongovt:'VIT-vellore,Chandigarh College of Architecture-chandigarh,Birla Institute Of Technology-Mesra',
                    entranceexam:'CUET,NATA,JEE Main,AAT,MHT CHT B.Arch',
                },

                {
                    name: 'FILMMAKER',
                    courses: 'Diploma in Cinematography,Dipolma film & Editing,NCVT Diploma in Digital Cinematography,Bachelor of Visual Arts(cinematography)',
                    institutionsgovt:'Government Film and Television Institute, Bangalore,Government M.G.R. Film and Television',
                    institutionsnongovt:'Loyola College-tamil nadu,NRAI School of Mass Communication-delhi,Mahatma Jyoti Rao Phoole University',
                    entranceexam:'CUET,CUCET,NIFT',
                },

                {
                    name: 'GRAPHIC DESIGNER',
                    courses: 'Bachelor degree in Visual identity Grahic Design,User interface Grahic Design,Motion Graphic Design,Publication Graphic Design',
                    institutionsgovt:'CSJM -kanpur,MGU-kerala,NIFT-delhi,NID -ahmedabad',
                    institutionsnongovt:'Pearl Academy-delhi,IIAD-delhi,DY Patil University-pune',
                    entranceexam:'NIFT,UCEED,NID,CEED',
                },

                {
                    name: 'INTERPRETOR',
                    courses: 'Dipolma in Translation and Interpretation,Bachelor of Arts(Hons.) in Translation and Interpretation,Master of Arts in Translation  and Interpretation',
                    institutionsgovt:'Indraprastha College for Wowen-delhi,jamia Millia Islamia-,delhi',
                    institutionsnongovt:'Symbiosis Institute Internattional Studies-pune,National Institute of Languages-online',
                    entranceexam:'CTTIC',
                },

                {
                    name: 'PHYSICAL THERPIST',
                    courses: 'Bachelor of physio/Physical Therapy,Bsc Physiotheray,Bachelor iof Helath Science,Master of Helath Practies',
                    institutionsgovt:'Annamalai University,Punjabi University Patila,Kamia Millia University',
                    institutionsnongovt:'Christian medical College,Amity University-noida,Kasturba Medical college-Mangalore',
                    entranceexam:'NEET,CUET,IPU CET',
                },
            ];
            displayCareers(INFPCareers);
        }

        function displayCareers(careers) {
            careers.forEach(career => {
                const careerDiv = document.createElement('div');
                careerDiv.innerHTML = `
                    <h3>${career.name}</h3>
                    <p><strong>courses:</strong> ${career.courses}</p>
                    <p><strong>Institutions govt:</strong> ${career.institutionsgovt}</p>
                    <p><strong>Institutions nongovt:</strong> ${career.institutionsnongovt}</p>
                    <p><strong>entrance exam:</strong> ${career.entranceexam}</p>
                `;
                careerOptionsContainer.appendChild(careerDiv);
            });
        }
    </script>
</body>
</html>